@charset "utf-8";
div._ih {
 display:none!important
}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,div,span,a,b {
 margin:0;
 padding:0;
 list-style:none
}
* {
 font-size:inherit;
 font-family:'Microsoft Yahei','Lucida Grande',Arial,'\5b8b\4f53';
 line-height:inherit
}
html {
 overflow-x:hidden;
 overflow-y:scroll
}
*html {
 background-image:url(about:blank);
 background-attachment:fixed
}
body {
 line-height:1;
 background:#fff!important
}
body,button,textarea {
 font-size:12px
}
textarea {
 padding:5px
}
fieldset,img {
 border:0
}
table {
 border-collapse:collapse;
 border-spacing:0
}
h1 {
 font-size:19px
}
h2 {
 font-size:17px
}
h3 {
 font-size:15px
}
h4,h5,h6 {
 font-size:100%
}
hr {
 border:0;
 height:1px
}
a {
 text-decoration:none;
 color:#666;
 line-height:1.5;
 cursor:pointer
}
a:hover {
 text-decoration:none;
 color:#b01330
}
small {
 font-size:100%
}
ins {
 text-decoration:none
}
del {
 text-decoration:line-through
}
legend {
 color:#000
}
fieldset,img {
 border:0
}
button,select,input,textarea {
 font-size:100%
}
blockquote,q {
 quotes:none
}
blockquote:before,blockquote:after,q:before,q:after {
 content:'';
 content:none
}
address,cite,dfn,em,var {
 font-style:normal
}
code,kbd,pre,samp,tt {
 font-family:"Courier New",Courier,monospace
}
abbr[title],acronym[title] {
 border-bottom:1px dotted;
 cursor:help
}
li {
 list-style:none
}
ul,li,dl,dt,dd {
 margin:0;
 padding:0;
 text-indent:0
}
dt {
 font-weight:normal
}
.clear {
 clear:both
}
.hide {
 display:none
}
.inl {
 display:inline
}
.inbl {
 display:inline-block
}
.block {
 display:block
}
.bold {
 font-weight:bold
}
.del {
 text-decoration:line-through
}
.tf {
 text-align:left
}
.tc {
 text-align:center
}
.tr {
 text-align:right
}
.m0a {
 margin:0 auto
}
.fl {
 float:left
}
.fr {
 float:right
}
.rel {
 position:relative
}
.udl {
 text-decoration:none
}
.ellipsis {
 text-overflow:ellipsis;
 white-space:nowrap;
 overflow:hidden
}
.clearfix:after {
 content:".";
 display:block;
 height:0;
 clear:both;
 visibility:hidden;
}
*html .clearfix {
 zoom:1
}
.clearfix {
 display:block;
 height:0;
 line-height:0;
 font-size:0
}
.clearfix2:after {
 content:"";
 display:block;
 clear:both;
 visibility:hidden
}
.red {
 color:#ce0000!important
}
.zc_on {
 color:#d9c398!important
}
.cccc {
 color:#CCC!important
}
.c999 {
 color:#999!important
}
.c666 {
 color:#666!important
}
.c444 {
 color:#444!important
}
.c333 {
 color:#333!important
}
.cfff {
 color:#fff!important
}





