{% extends 'wanbiao/base.html' %}
{% load static %}

{% block title %}
    万表 | 我的订单
{% endblock %}

{% block extcss %}
    <link rel="stylesheet" href="{% static 'css/cart.css' %}"/>
{% endblock %}

{% block extjs %}
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/cart.js' %}"></script>
{% endblock %}

{% block content %}
<div class="top">
    <div class="wrap">
        <ul>
            <li style=" background: none;">
                <a href="">登录</a>
                <a href="">注册</a>
            </li>
            <li>
                <a>全国客服电话：<span>400-883-2688</span></a>
            </li>
            <li>
                <a href="">我的订单</a>
                <a href="">会员中心</a>
            </li>
            <li>
                <a href="">去购物车结算</a>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="header">
    <div class="wrap">
        <div class="fl">
            <a href=""><img src="{% static 'img/logo-ico.jpg' %}"/></a>
            <a href=""><img src="{% static 'img/logoname.jpg' %}"/></a>
        </div>
        <div class="fr">
            <ul>
                <li>
                    <h2>
								<span>
									选购商品
								</span>
                    </h2>
                </li>
                <li class="on">
                    <h2>
								<span>
									提交订单
								</span>
                    </h2>
                </li>
                <li>
                    <h2>
								<span>
									确认支付
								</span>
                    </h2>
                </li>
                <li>
                    <h2>
								<span>
									等待签收
								</span>
                    </h2>
                </li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="main">
    <div class="wrap">
        <div class="box">
            <div class="head">
                <ul>
                    <li style="width: 134px;">
                        <input style="margin-right: 15px;position:absolute;top: 14px;left: 40px;;" type="checkbox"/>全选
                    </li>
                    <li style="width: 310px;padding-left: 10px;">商品信息</li>
                    <li style="padding-left: 95px;">单价</li>
                    <li style="padding-left: 73px;">数量</li>
                    <li style="padding-left: 125px;">价钱</li>
                </ul>
            </div>
            <div class="center">
                <ul id="list">
                    <!--<li>
                        <div>
                            <input type="checkbox" />
                            <img src="../img/143234662463629.png" alt="" />
                        </div>
                        <div>
                            <p>就阿拉山口建档立卡手机的来看撒娇福利卡设计费陆金所的法律开始决定恢复过来快速</p>
                        </div>
                        <div>
                            <p>￥123123</p>
                        </div>
                        <div>
                            <input type="button" value="-" />
                            <input type="text" value="1" />
                            <input type="button" value="+" />
                        </div>
                        <div>
                            <p>￥123123</p>
                        </div>
                        <div class="clear"></div>
                    </li>-->
                </ul>
            </div>
            <div class="foot">
                <div class="wrap">
                    <ul>
                        <li>
                            <input id="allSelect" type="checkbox"/> <span>全选</span>
                        </li>
                        <li id="delSelect">删除选中商品</li>
                        <li>&nbsp;</li>
                        <li>商品总金额<span id="zj"></span></li>
                        <li>去结算</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}