{% extends 'wanbiao/base.html' %}
{% load static %}

{% block title %}
    万表 | 登录
{% endblock %}

{% block extcss %}
    <link rel="stylesheet" href="{% static 'css/login_reset.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/login.css' %}"/>
{% endblock %}

{% block extjs %}
{#    <script src="{% static 'js/cookie.js' %}"></script>#}
{#    <script src="{% static 'js/jquery.cookie.js' %}"></script>#}
    <script src="{% static 'js/login.js' %}"></script>

{% endblock %}

{% block content %}
    <div class="header">
        <div class="logo">
            <a href=""></a>
            <span class="logotxt">
					<img src="{% static 'img-1/logoname.png' %}" alt=""/>
				</span>
        </div>
    </div>

    <div class="main">
        <div class="mainbg">
            <div class="content">
                <a href="" class="click"></a>
                <div class="loginborder">
                    <div class="login">
                        <div class="t">
                            <div class="fl">
                                <div class="logo">万表会员</div>
                            </div>
                            <div class="fr">
                                <a href="">
                                    <i></i>
                                    手机动态码登录
                                </a>
                            </div>
                        </div>
                        <div class="c">
                            <form action="" method="post">
                                 {% csrf_token %}
                                <ul>
                                    <li class="mt15">
                                        <i class="uname"></i>
                                        <input id="name" type="text" placeholder="手机号码/会员名/邮箱"/>
                                        <b class="err">亲，请输入正确的手机号码</b>
                                    </li>
                                    <li class="mt15">
                                        <i class="pwd"></i>
                                        <input id="password" type="password" placeholder="密码"/>
                                        <b class="err">密码不正确</b>
                                    </li>
                                    <li class="mb15">
                                        <input type="checkbox" id="autologin"/>
                                        <label for="autologin">自动登录</label>
                                        <input type="checkbox" id="rememble"/>
                                        <label for="rememble">记住密码</label>
                                    </li>
                                    <li>
                                        <input id="dl" class="sbm" type="submit"/>
                                    </li>
                                    <li class="mb15 mb17">
                                        <a href="register.html">
                                            注册万表会员
                                        </a>
                                        <span style="float: right;">
												<a href="">
													忘记密码？
												</a>
											</span>
                                    </li>
                                </ul>
                            </form>
                        </div>
                        <div class="b"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bbb"
         style="display: none; width: 100%;height: 100%;background: #333333;position: absolute;z-index: 99999;top: 0;opacity: .6;"></div>
    <div class="zidong"
         style="border-radius: 30px; width: 300px; display: none; z-index:99999;height: 200px;background:#FAFAFA; border: #245269 solid 2px; position:absolute;left: 50%; top:50%;margin:-100px 0 0 -150px; text-align: center; line-height: 100px;font-size: 20px; ">
        自动登录成功，是否跳转？<br/>
        <a href="">否</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="">是</a>
    </div>
{% endblock %}